<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Locate your Shoe Store</title>
    </head>
    <body>
        <div class='container'>
            <h1>Locate your shoes!</h1>


            <div class="panel panel-default">
                <div class="panel-heading">Edit {{ store.getStoreName }}:
                </div>
                <div class="panel-body">
                    <form action='/stores/{{ store.getId }}' method='post'>
                        <input name='_method' type='hidden' value='patch'>
                        <div class='form-group'>
                            <label for='store_name'>Change store name</label>
                            <input id='store_name' name='store_name' type='text' class='form-control'>
                        </div>
                        <button class='btn btn-primary' type='submit'>Update</button>
                    </form>
                </div>

                <div class="panel-footer">
                    <form action='/stores/{{ store.getId }}' method='post'>
                        <input name='_method' type='hidden' value='delete'>
                        <button type='submit' class='btn btn-danger'>Delete store</button>
                    </form>
                    <p><a href='/'>home</a>.</p>
                </div>

        </div>
    </body>
</html>
